.col-md-4{:id => "retro_panel_#{retro_panel.id}"}
  %h3.text-center{:style => "color : #{retro_panel.color}"}
    %span.pull-right.actions
      = link_to retro_board_retro_panel_path(retro_panel.retro_board, retro_panel), :method => :delete, remote: true, class: 'delete' do
        %i.fa.fa-trash-o

    %i.fa.fa-hand-o-down
    %span.editable
      = best_in_place retro_panel, :name, url: retro_board_retro_panel_path(retro_panel.retro_board, retro_panel)
      %i.fa.fa-pencil.hide
    %span{:id => "retro_panel_head_#{retro_panel.id}"}
      = "(#{retro_panel.retro_cards.count})"
  .row
    .col-md-12.col-sm-12{:id => "retro_panel_form_#{retro_panel.id}"}
      = form_for [retro_panel.retro_board, retro_panel, RetroCard.new], :remote => true, :html => {:class => 'form-horizontal'} do |f|
        .input-group
          = f.text_field :description, :class => 'form-control retro_panel_form_text', :placeholder => "#{retro_panel.name} ...", :required => 'true', :id => "add_card_retro_panel_#{retro_panel.id}"
          %span.input-group-btn
            = f.submit '+', :class => 'btn btn-default btn-flat pull-right'
  %br
  .row.retro-cards{:id => "retro_panel_cards_#{retro_panel.id}"}
    - retro_panel.retro_cards.each do |retro_card|
      %ul.cards.col-md-6.col-sm-12
        = render :partial => 'retro_boards/retro_card', locals: {retro_card: retro_card}