%section.content-header
  %h1
    My Retro Boards
    %small
      = link_to new_user_retro_board_path(current_user) do
        %i.fa.fa-plus
        Add Board

%br

- @projects.each do |project|
  .box.box-default
    .box-header.ui-sortable-handle{:style => "cursor: move;"}
      %h3.box-title
        = project.name
      .box-tools.pull-right
        %button.btn.btn-default
          = link_to new_user_retro_board_path(current_user) do
            %i.fa.fa-plus
            Add Board
        %button.btn.btn-default
          = link_to delete_project_path(project), :method => :delete, data: { confirm: 'There is no looking back. Deleting the project will delete all related retro boards and notes as well. Are you sure?' }, class: 'delete' do
            %i.fa.fa-trash-o
    .box-body
      %ul.todo-list.ui-sortable
        - project.retro_boards.each do |retro_board|
          %li
            %i.ion.ion-clipboard
            %span.text
              = link_to retro_board.name, user_retro_board_path(current_user, retro_board)
            %small.label.label-info
              %i.fa.fa-clock-o
              = retro_board.updated_at.strftime('last updated on %m/%d/%Y')
            .tools
              = link_to edit_user_retro_board_path(current_user, retro_board) do
                %i.fa.fa-edit
              = link_to user_retro_board_path(current_user, retro_board), :method => :delete, data: { confirm: 'There is no looking back. Once deleted, its deleted forever! Are you sure?' }, class: 'delete' do
                %i.fa.fa-trash-o
