%h1 Listing Retro Boards

%table
  %thead
    %tr
      %th Name
      %th Project
      %th
      %th
      %th

  %tbody
    - @retro_boards.each do |retro_board|
      %tr
        %td= retro_board.name
        %td= retro_board.project_id
        %td= link_to 'Show', user_retro_board_path(current_user, retro_board)
        %td= link_to 'Edit', edit_user_retro_board_path(current_user, retro_board)
        %td= link_to 'Destroy', user_retro_board_path(current_user, retro_board), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Retro board', new_user_retro_board_path(current_user)
