%section.content-header
  %h1
    My Retro Boards

%br

- @projects.each do |project|
  .box.box-primary
    .box-header.ui-sortable-handle{:style => "cursor: move;"}
      %h3.box-title
        = project.name
      .box-tools.pull-right
        %button.btn.btn-default.pull-right
          = link_to new_user_retro_board_path(current_user) do
            %i.fa.fa-plus
            Add Board

    .box-body
      %ul.todo-list.ui-sortable
        - project.retro_boards.each do |retro_board|
          %li
            %i.ion.ion-clipboard
            %span.text
              = link_to retro_board.name, user_retro_board_path(current_user, retro_board)
            %small.label.label-info
              %i.fa.fa-clock-o
              = retro_board.updated_at.strftime('last updated on %m/%d/%Y')
            .tools
              = link_to edit_user_retro_board_path(current_user, retro_board) do
                %i.fa.fa-edit
              %i.fa.fa-trash-o
