= subscribe_to "/retro_boards/#{@retro_board.id}"
= subscribe_to '/retro_board/update'
%row{:id => "retro_board_#{@retro_board.id}"}
  %h1.text-center.board-title
    %i.ion.ion-clipboard
    %span.editable
      = best_in_place @retro_board, :name, url: "/retro_boards/#{@retro_board.id}", class: 'board_name'
      %i.fa.fa-pencil.hide
    %small.editable
      = best_in_place @retro_board.project, :name, url: "/retro_boards/#{@retro_board.id}", param: 'retro_board[project]', class: 'project_name'
      %i.fa.fa-pencil.hide

    %span.pull-right.actions.board-actions
      = form_for [@retro_board, RetroPanel.new], html: {id: 'add_new_panel_form'}, remote: true do |f|
        = f.hidden_field :name, value: 'Untitled Panel'
      = link_to '#', id: 'add_new_panel', :title => 'Add New Panel', :title => 'Add panel', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
        %i.fa.fa-columns
      %a#copy_to_clipboard{href: '#', 'data-clipboard-text' => request.original_url, :title => 'Copy board link', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom'}
        %i.fa.fa-link
      = link_to retro_board_path(@retro_board), :method => :delete, class: 'delete' do
        %i.fa.fa-trash-o

.row{:id => 'retro_panels'}
  - @retro_board.retro_panels.each do |retro_panel|
    = render :partial => 'retro_boards/retro_panel', locals: {retro_panel: retro_panel}
