%section.content-header
  %h1
    = @retro_board.name
    %small
      = @retro_board.project.name

%br

.row
  .col-md-4
    .box.box-default
      .box-header.with-border
        %h3.box-title
          = @retro_board.name
      .box-body{:style => "display: block;"}
        The body of the box
  .col-md-4
    .box.box-default
      .box-header.with-border
        %h3.box-title
          = @retro_board.name
      .box-body{:style => "display: block;"}
        The body of the box
  .col-md-4
    .box.box-default
      .box-header.with-border
        %h3.box-title
          = @retro_board.name
      .box-body{:style => "display: block;"}
        The body of the box
