%section.content-header
  %h1.text-center
    %i.ion.ion-clipboard
    = @retro_board.name
    %small
      = @retro_board.project.name

.row
  - @retro_board.retro_panels.each do |retro_panel|
    .col-md-4
      %h3.text-center{:style => "color : #{retro_panel.color}"}
        %i.fa.fa-thumbs-o-up
        = retro_panel.name
      %div{:id => "retro_panel_#{retro_panel.id}"}
        = render :partial => 'retro_boards/retro_panel', locals: {retro_board: @retro_board, retro_panel: retro_panel}