%row
  %h1.text-center.board-title
    %i.ion.ion-clipboard
    %span.editable
      = best_in_place @retro_board, :name
      %i.fa.fa-pencil.hide
    %small.editable
      = best_in_place @retro_board.project, :name, url: retro_board_path(@retro_board), param: 'retro_board[project]'
      %i.fa.fa-pencil.hide

    %span.pull-right.actions
      = form_for [@retro_board, RetroPanel.new], html: {id: 'add_new_panel_form'}, remote: true do |f|
        = f.hidden_field :name, value: 'Untitled Panel'
      = link_to '#', id: 'add_new_panel', :title => 'Add New Panel' do
        %i.fa.fa-hand-o-down
      %a#copy_to_clipboard{href: '#', 'data-clipboard-target' => 'board_link', :title => 'Copy board link'}
        #board_link.hide
          = request.original_url
        %i.fa.fa-share-alt
      = link_to retro_board_path(@retro_board), :method => :delete, class: 'delete', data: { confirm: 'There is no looking back. Once deleted, its deleted forever! Are you sure?' } do
        %i.fa.fa-trash-o

.row{:id => 'retro_panels'}
  - @retro_board.retro_panels.each do |retro_panel|
    -#%span.pull-left.my-colorpicker{:id => retro_panel.id}
      %i.fa.fa-stop{:style => "color: #{retro_panel.color};"}
    = render :partial => 'retro_boards/retro_panel', locals: {retro_panel: retro_panel}